<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyApzzARScCmFMiYcO6ILoBqZaljHmY9uH0</string>
	<key>GCM_SENDER_ID</key>
	<string>776198429140</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.anonymous.PULS</string>
	<key>PROJECT_ID</key>
	<string>attendance-tracker-custom</string>
	<key>STORAGE_BUCKET</key>
	<string>attendance-tracker-custom.firebasestorage.app</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:776198429140:ios:2f6e795ca1ca33a4875e41</string>
</dict>
</plist>